.category-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-list-item {
  margin: 5px 10px;
}
.category-list-count {
  color: $grey;
}
.category-list-count::before {
  content: ' (';
  display: inline;
}
.category-list-count::after {
  content: ') ';
  display: inline;
}
.category-list-child {
  padding-left: 10px;
}
